body {
  background: black;
  color: #B3B3B3;
  font-family: sans-serif;
}

.instructions-container {
  width: 25%;
  position: absolute;
  top: 30%;
  margin-left: 15px;
}

p {
  width: 100%;
}

.page-container {
  display: flex;
  justify-content: center;
}

h1 {
  width: 100px;
  margin: 0 auto;
}

#pause-toggle {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: -35px;
}

.canvas-div {
  width: 578px;
  height: 391px;
  position: relative;
  /*justify-content: center;*/
  /*align-items: center;*/
  /*align-content: center;*/
  /*vertical-align: middle;*/
  /*line-height: 200px;*/
  /*background-image: url("/lib/assets/space.png");*/
}

/*canvas {
  background-image: url("/lib/assets/purple_space.jpeg");
  background-size: 578px 391px;
}*/

.top-info-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#congrats {
  margin: 150px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  font-size: 35px;
}

@media (max-width: 1250px) {
  .instructions-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  p {
    margin: 5px 0 5px 0;
  }
}
